/* Cover main title */
h1.title {
	text-align: center;
}

/* Recipe name */
h2.recipe-name {
	text-align: center;
}

/* Recipe sub section level 1 (Ingredients, preparation) */
p.sub-1 {
	font-weight: bold;
}

/* Recipe categorie */
h1.cat {
	text-align: center;
	font-size: 24px;
}